* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0f;
  color: #f5e6cc;
}

.title {
  font-family: "Noto Serif Devanagari", serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 45px;
}

.summary{
  font-size: 17px;
  text-align: center;
  padding: 0px 45px;
  font-family: 'Times New Roman', Times, serif;
}
