* {
  margin: 0px 2px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #0f0f13, #050507);
  color: #f8ecd8;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.button {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 12px;
  border: 1px solid rgba(255, 230, 180, 0.3);
  color: #f5e6cc;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.1rem;
  position: absolute;
  right: 20px;
  top: 20px;
}
/* For screens smaller than 768px */
@media (max-width: 768px) {
  .button {
    padding: 4px 9px;
    font-size: 1rem;
    width: 150px;
    height: 40px;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .button {
    padding: 2px 4.5px;
    font-size: 0.9rem;
    width: 120px;
    height: 35px;
  }
}

.button:hover {
  background: rgba(255, 230, 180, 0.1);
  border-color: rgba(255, 230, 180, 0.6);
  transform: scale(1.05);
}

header {
  background: linear-gradient(to bottom, rgba(255, 215, 100, 0.1), transparent);
  padding: 0px 20px 50px;
  text-align: center;
  position: relative;
}

.title {
  font-family: "Noto Serif Devanagari", serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 45px;
  text-shadow: 0 0 6px rgba(255, 227, 172, 0.404);
}

.summary{
  font-size: 1.rem;
  text-align: center;
  padding: 0px 45px;
  font-family: 'Times New Roman', Times, serif;
  margin-inline: auto;
}
 .info{
  font-size: 1rem;
  text-align: center;
  padding: 0px 45px;
  font-family: 'Times New Roman', Times, serif;
  margin-inline: auto;
 }

  .information{
  font-size: 1.04rem;
  text-align: center;
  padding: 0px 45px;
  font-family: 'Times New Roman', Times, serif;
  margin-inline: auto;
 }

 .sanskrit {
  font-family: "Noto Serif Devanagari", serif;
  font-size: 1.4rem;
  margin-top: 45px;
  color: #f0d89f;
  text-shadow: 0 0 6px rgba(255, 230, 180, 0.3);
}

.corner {
  font-size: 0.9rem;
  text-align: right;
  font-style: italic;
  color: #bca673;
  margin-top: 5px;
}

.english {
  font-size: 1.05rem;
  margin-top: 15px;
  color: #e8d8b4;
  max-width: 850px;
  margin-inline: auto;
  font-style: italic;
}

.shloka{
  text-align: center;
  margin-top: -20px;
  margin-bottom: 25px;
}

audio{
 height: 25px;
  border-radius: 5px;
  background-color: black;
  border: none;
  outline: none;
  margin-top: 10px;
}
hr{
  margin: auto;
  width: 35%;
  background-color: #f0d89f;
}

main{
  height: 2000px;
  text-align: center;
}

rig_division{
  margin-top: 100px;
}

.images{
  display: flex;
  justify-content: center;
  height: 300px;
  gap: 10px;
}

.extra{
  font-size: 1.2rem;
}

.extrainfo{
  margin-top: 50px;
}



















